<html>
{% block content %}

<head>
    <title>Document Navigator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename = 'javascript.js') }}"></script>
</head>

<div id="path">
    {{current_path}}
</div>
<div>
    <form action="/cdout">
        <input type="button" onclick="sayHi()" value="Say Hi" />
        <input type="submit" name="submit_button" value="Go Back">
    </form>
    <form action="/cdin">
        <table border=1>
            <th>
                file name
            </th>
            <td>
                is directory?
            </td>
            {% for obj in result %}
            <tr>
                {% if obj.dirr %}
                <th>
                    <input type="submit" name="submit_button" title={{obj.name}} value={{obj.name}}>
                </th>
                <td>
                    {{obj.dirr}}
                </td>
                {%else%}
                <th>
                    {{ obj.name }}
                </th>
                <td>
                    {{obj.dirr}}
                    {%endif%}
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}

</html>